# Dependencies
node_modules/

# Environment
.env
.env.local

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Vercel
.vercel/

# Archivos temporales
*.tmp
*.temp